<h2>Liste des magasins</h2>
<ul>
    <li>Magasin A decouvrir 1</li>
    <li>Magasin A decouvrir 2</li>
    <li>Magasin A decouvrir 3</li>
    <li>Magasin A decouvrir 4</li>
    <li>Magasin A decouvrir 5</li>
</ul>

{{{name}}}<br/>
habite la rue : {{rue}}

