<form action="/login" class="form" method="POST">
    <h2>Login</h2>
    <label for="email">Email Address</label>
    <input type="text" name="email">
    <label for="password">password</label>
    <input  type="password" name="password">
    <input class="button" type="submit" value="login">
</form>
<form action="/account/forgot" class="form">
    <h2>I forgot my password</h2>
    <label for="email">Email</label>
    <input type="text" name="email">
    <input type="submit" value="send a Reset" class="button">
</form>