<h2>Add Magasin</h2>
<form action="/magasins" method="POST" class="card">
    <label for="name">
        Name:
        <input type="text" name="name" id="name">
    </label>
    <label for="slug">
        Slug:
        <input type="text" name="slug" id="slug">
    </label>
    <label for="description">
        Description:
        <textarea type="text" name="description" id="description"></textarea>
    </label>
    <label for="photo">
        Photo:
        <input type="text" name="photo" id="photo">
    </label>
    <label for="address">
        Addresse:
        <input type="text" name="address" id="address">
    </label>
    <label for="lng">
        Longitude:
        <input type="text" name="lng" id="lng">
    </label>
    <label for="lat">
        Latitude:
        <input type="text" name="lat" id="lat">
    </label>

    <input type="submit" name="Ajout du magasin">
</form>