<form action="/register" class="form">
<h2>Register</h2>
<label for="name">Name:</label>
<input type="text" name="name"> 
<label for="email">Email:</label>
<input type="text" name="email">
<label for="password">Password:</label>
<input type="password" name="password">
<label for="password-confirm">Confirm Password:</label>
<input type="password" name="password-confirm">
<input type="submit" class="button" value!"Register">
</form>